<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Orsan</name>

<description>
Orsan Aplicacion.
</description>
<icon src="icon.png" />
<author href="http://tobepublicidad.com" email="agencia@tobe.mx">
Tobe Publicidad
</author>
<preference name="show-splash-screen-spinner" value="false" />
<preference name="auto-hide-splash-screen" value="false" />
</widget>
